body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCEDFF;
    font-size: 16px;
    font-weight: normal;
}

#projects {
    padding: 40px 20px;
    text-align: center;
}

.custom-navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    padding: 12px 0; 
}

.custom-navbar .navbar-brand {
    color: #333;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 1px;
}

.custom-navbar .nav {
    padding: 0; 
}

.custom-navbar .nav li {
    display: inline-block; 
}

.custom-navbar .nav li a {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #94B0DA; 
}

.custom-navbar .nav li.active > a {
    background-color: transparent; 
    color: #94B0DA; 
}

.custom-navbar .nav li a.active {
    background-color: transparent; 
    color: #94B0DA;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #94B0DA; 
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 12px 0; 
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        padding: 0; 
    }
}

h1 {
    margin-bottom: 10px;
    font-size: 2em;
    color: #333;
    font-weight: normal;
    padding-bottom: 0px;
}

.project {
    margin: 20px auto;
    max-width: 1000px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; 
}

.project-image {
    width: 50%;
    float: left;
    position: relative;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
    object-fit: cover; 
    display: block;
}

.project-description {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.project-description h3 {
    margin-top: 0;
    color: #333;
    padding-bottom: 10px;
    line-height: 16px;
    font-size: 24px;
}

.project-description p {
    color: #666;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0px;
}

.project-description ul {
    color: #666;
    margin-bottom: 20px;
    margin-top: 5px;
}

.view-project-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #94B0DA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.view-project-button:hover {
    background-color: #DCEDFF;
    color: #fff;
}

@media (max-width: 768px) {
    .project-image,
    .project-description {
        float: none;
        width: 100%;
    }

    .project-image img {
        border-radius: 10px 10px 0 0;
    }

    .project-description {
        padding: 20px 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .custom-navbar .navbar-brand {
      line-height: 18px;
    }
}